@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

:root
{
    --blue: #0065fc;
    --lightgrey: #f2f2f2;
    --lightblue: #deebff;
    --lighterblue: #f3f8ff;


}

*
{
    font-family:"Raleway","sans-serif";
    box-sizing: border-box;
}

a
{ 
    color:inherit;
    text-decoration: none;
}
/* Design NavBar*/
nav 
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

#logo
{
    margin-right: auto;
    padding: 0 2rem;
    height: 40px;
}

nav a
{
    padding: 2rem;
}

.sign
{
    font-weight: bold;
    color: #0065fc;
}


nav a:hover
{
    border-top: 4px solid #0065fc;
}

 
.sous-nav
{
    display: flex;   
}
/* Design Body */

 .phrase
 {
    padding:0 2rem; 
 }

 /* Design barre de recherche*/
 
.recherche
  {
    display: flex;
  }

.recherche i
{
    padding: 1rem 2rem;
    background-color: var(--lightgrey);
    border-radius: 1rem 0 0 1rem;
}

.recherche input
{
    padding-right: 3rem;
    border: solid 0.5px;
    width: 5.3cm;
    border-color: whitesmoke;

}

.recherche input::placeholder
{
    font-size: 1rem;
    font-family: "Raleway";
    font-weight: bold; 
}
.recherche button
{
    background-color: #0065fc;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1rem;
    border: none;
    width: 3.5cm;
    cursor: pointer;
}

/* Design filtres */
.filtres
{
    border: 2px solid var(--lightblue);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    transition: all 200ms ease; 
}

.filtres_liste
{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}